body {
    margin: 0px;
    background-color: beige;
}

.tempflex {
    margin: 0px;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.mainContent {
    flex-basis: 70%;
    width: 100vw;
    height: 70%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.head {
    height: 10%;
    flex-basis: 10%;
    width: 100vw;
}





/* scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}